<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Welcome to ☥_ֆʏʄɛʀ_ф demo</h1>

    <img height="500" width="350" id="img" src="https://www.cointribune.com/app/uploads/2022/04/artworks-kzdSi88yNb88cbvc-VemQVg-t500x500.jpg" alt="">
    <h1 id = titre>Syfer</h1>
</body>
</html>
