<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://marketplace-web-assets.vinted.com/assets/favicon/default/apple-touch-icon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<nav>
    <div >
        <img src="https://s3-eu-west-1.amazonaws.com/tpd/logos/56bdcbc20000ff000588d48b/0x0.png" height="50vh" alt="">
    </div>
</nav>
<body>
    <div class="main">
        <div class="tag">
            <form action="">
                <div>
                    <p>Recherche darticle</p>
                    <input type="text" autocomplete="none" name="article" placeholder="Recherche Articles">
                </div>
                <div>
                    <p>Choix des prix</p>
                    <input class="prix" type="text" name="min" autocomplete="none" placeholder="Prix Min">
                    <input class="prix" type="text" name="max"autocomplete="none" placeholder="Prix Max">
                </div>
                <div>
                    <input type="submit" value="Recherche">
                </div>
            </form>            
        </div>
        <div class="items">
            <div>
                <div class="card">
                    <div>
                        <div class="img-card"></div>
                    </div>
                    <div class="info">
                        <div>
                            <p>marque</p>
                            <h2>Titre de l'article</h2>
                        </div>
                        <div class="dealer">
                            <div class="dealer-icon"></div>
                            <p>Nom du vendeur</p>
                        </div>
                        <h2>2.00 € <span>(ttc 2.60)</span></h2>
                        
                        <div>
                            <a href="">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div>
                        <div class="img-card"></div>
                    </div>
                    <div class="info">
                        <div>
                            <p>marque</p>
                            <h2>Titre de l'article</h2>
                        </div>
                        <div class="dealer">
                            <div class="dealer-icon"></div>
                            <p>Nom du vendeur</p>
                        </div>
                        <h2>2.00 € <span>(ttc 2.60)</span></h2>
                        
                        <div>
                            <a href="">Details</a>
                        </div>
                    </div>
                </div>
                
            </div>
            

        </div>
    </div>
</body>
</html>